body {
    background-image: url('bg.jpg');
    background-color: azure;
    margin-left: 15px;
    margin-right: 15px;
}

h1 {
    background-color: bisque;
    color: brown;
}

p {
    background-color: aquamarine;
    font-size: small;
    font-family:'Times New Roman', Times, serif;
}  

h5 {
    font-family:"creepster", system-ui;
    font-weight: 400;
    font-style: normal;
}

.wonder {
    text-align: center;
    color: brown;
}

#scary {
    text-align: center;
    color: red;
}

.wonderbut {
    text-align: center;
    color:pink
}